body{
	margin: 0px;
}

.title-bar{
	-webkit-app-region: drag;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: #d11f4a;
}

#doc-title{
	position: fixed;
	left: 50%;
	top: -.5%;
	font-family: Arial, sans-serif !important;
	font-size: 18px;
	transform: translate(-50%, 0);
}

.title-buttons{
	-webkit-app-region: no-drag;
	display: flex;
	position: fixed;
	right: 0px;
	top: 0px;
	height: 48px;
}

.title-buttons input{
	flex-grow: 1;
	display: inline-block;
	max-width: 58px;
}

.docs{
	display: flex;
	padding-top: 10%;
	text-align: center;
}

.block{
	width: 25%;
	flex-grow: 1;
	display: inline-block;
}

.file-button{
	max-width: 30%;
	height: auto;
}

#compare-button{
	position: fixed;
	display: block;
	max-width: 149px;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, 0);
}

#restart-button{
	position: fixed;
	display: block;
	max-width: 149px;
	bottom: 5%;
	left: 5%;
}

#logo{
	position: fixed;
	display: block;
	max-width: 125px;
	bottom: 5%;
	right: 5%;
}