body{
	margin: 0px;
	overflow: hidden;
}

#title-bar{
	-webkit-app-region: drag;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: #ff0000;
}

#left-title-buttons{
	-webkit-app-region: no-drag;
	display: flex;
	position: fixed;
	left: 1%;
	top: 48px;
	transform: translate(0, -150%);
}

#left-title-buttons input{
	max-width: 80px;
}
#restart-button{
	max-width: 149px;
}

#app-title{
	position: fixed;
	left: 50%;
	top: -.5%;
	font-family: Arial, sans-serif !important;
	font-size: 18px;
	transform: translate(-50%, 0);
	color: white;
}

#right-title-buttons{
	-webkit-app-region: no-drag;
	display: flex;
	position: fixed;
	right: 0px;
	top: 0px;
	height: 48px;
}

#right-title-buttons input{
	flex-grow: 1;
	display: inline-block;
	max-width: 58px;
}

#close-popups-button{
	-webkit-app-region: no-drag;
	display: block;
	position: fixed;
	max-width: 83px;
	max-height: 48px;
	top: 48px;
	right: 186px;
	transform: translate(0, -150%);
}

/*div containing docs and console*/
#docs-and-console{
	display: flex;
	margin: 1%;
	margin-top: 48px;
	margin-bottom: 7.5%;
	padding-top: 1%;
	text-align: center;
}

#docs{
	display: flex;
	overflow-x: auto;
	width: 100%;
}

.doc{
	text-align: left;
}

del{
	color: red;
	text-decoration: line-through;
	text-decoration-color: red;
}

ins{
	font-weight: bold;
	color: #1cc916;
	text-decoration: none;
}

.subsection-bullet{
	text-indent: 25px;
}

.subsection-sub-bullet{
	text-indent: 50px;
}

.reveal-text{
	color: #0645AD;
	padding: 0;
	border: none;
	background: none;
}

.reveal-text:hover{
	text-decoration: underline;
}

/*div containing a document and related items (title and hide button for example)*/
.doc-block{
	max-width: 45vw;
	min-width: 22vw;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	min-height: 75vh;
	max-height: 81vh;
	overflow-x: hidden;
	overflow-y: auto;
	flex-grow: 1;
	display: inline-block;
	word-wrap: break-word;
	border-radius: 25px;
	border: 4px solid #ff0000;
}

.popup{
    border: 2px groove #ff0000;
    background-color: white;
    margin: 0px;
    padding: 4px;
    padding-top: 2px;
    position: absolute;
    display: inline-block;
    min-height: 15%;
    min-width: 15%;
    max-height: 40%;
    max-width: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    transform: translate(0, -100%);
}

.zoom-button{
	color: #0645AD;
	text-decoration: underline;
	margin-top: 4px;
	margin-bottom: 4px;
}

.close-popup-button{
	display: inline-block;
	position: fixed;
	height: 28px;
	width: 28px;
	right: 2px;
	top: 2px;
}

.term{
	margin-right: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	top: 2px;
	font-size: 18px;
}

.definition{
	margin-top: 4px;
	text-align: left;

}

@-webkit-keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

.hide-button{
	min-width: 80px;
}

#console-block{
	min-width: 15vw;
	max-width: 20vw;
	padding: 5%
	padding-top: 4%;
	margin-left: 1%;
	margin-right: 1%;
	min-height: 40vh;
	max-height: 81vh;
	overflow-y: auto;
	word-wrap: break-word;
	border-radius: 25px;
	border: 4px solid #ff0000;
}

#hide-console{
	padding-top: 10px;
}

ol{
	padding: 10px;
	text-align: left;
	list-style-type: none;
}

.section{
	display: inline;
}

.section:after{
	content: "";
	display: block;
}

.subsection{
	list-style-position: inside;
	padding-left: 10px;
}

.changed{
	color: #3478e5;
}

.hide-section{
	height: 12px;
	width: 12px;
	display: inline;
}

.hide-article{
	height: 24px;
	width: 24px;
	display: inline;
}

.hide-paragraphs{
	height: 16px;
	width: 16px;
	display: inline;
}

.file-button{
	width: 15vw;
	height: auto;
}

.doc-title{
	border: none;
	background: transparent;
	border-bottom: 2px solid #ff0000;
	outline: none;
	display: none;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}

#compare-button{
	position: fixed;
	display: block;
	max-width: 149px;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, 0);
}

#re-compare-button{
	position: fixed;
	max-width: 149px;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, 0);
}

#def-button{
	position: fixed;
	display: none;
	max-width: 141px;
	bottom: 2%;
	left: 35%;
	transform: translate(-50%, 0);
}

#edit-button{
	position: fixed;
	display: none;
	max-width: 141px;
	bottom: 2%;
	left: 65%;
	transform: translate(-50%, 0);
}

#add-button{
	position: fixed;
	display: none;
	max-width: 280px;
	bottom: 2%;
	left: 3%;
}

#logo{
	position: fixed;
	display: block;
	max-width: 125px;
	bottom: 2%;
	right: 1%;
}

::-webkit-scrollbar{
	width: 20px;
}

::-webkit-scrollbar-track{
	border-radius: 25px;
}

::-webkit-scrollbar-thumb{
	background: #ff0000;
	border-radius: 25px;
	min-height: 25px;
}